config.h
config.log
config.status
Makefile
*.o
nbd-client
nbd-server
nbd-trdump
.deps/
doc/Doxyfile
man/manpage.links
man/manpage.refs
man/nbd-client.8
man/nbd-client.8.sh
man/nbd-server.1
man/nbd-server.1.sh
man/nbd-server.5
man/nbd-server.5.sh
man/nbd-trdump.1
man/nbd-trdump.1.sh
stamp-h1
!.gitignore
